Source: libmm-radio
Section: libs
Priority: extra
Maintainer: Ahn Young Hwan <younghwan_.an@samsung.com> Shin Seung Bae <seungbae.shin@samsung.com> Choi Jong Hyuk <jhchoi.choi@samsung.com> 
Uploaders: Seungbae Shin <seungbae.shin@samsung.com>, Wonhyung Cho <wh01.cho@samsung.com>, YoungHwan Ahn <younghwan_.an@samsung.com>, Kwanghui Cho <kwanghui.cho@samsung.com>
Build-Depends: debhelper (>= 5), autotools-dev, libmm-log-dev, libmm-common-dev, libmm-ta-dev, libaudiosessionmgr-dev, libavsystem-dev, libmm-session-dev, libmm-common-internal-dev, libmm-sound-dev, linux-libc-dev
Standards-Version: 0.1.0

Package: libmm-radio
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libavsystem-0, libmm-log, libmm-common, libmm-ta, libaudiosessionmgr-0, libmm-session-0
Description: Multimedia Framework Radio Library

Package: libmm-radio-dev
XB-Generate-Docs: yes
Section: libdevel
Architecture: any
Depends: libmm-radio (= ${Source-Version}), libavsystem-sdk-dev, libmm-log-sdk-dev, libmm-common-dev, libmm-ta-sdk-dev, libaudiosessionmgr-sdk-dev, libmm-session-sdk-dev, linux-libc-dev
Description: Multimedia Framework Radio Library (DEV)

Package: libmm-radio-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmm-radio (= ${Source-Version})
Description: Multimedia Framework Radio Library (unstripped)

